.category {
  display: flex;
  justify-content: center;
  grid-column: auto;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #a87f7f;
  border-bottom: 1px solid #a87f7f;
}

.list-cate {
  margin: 0px 40px 10px 40px;
  cursor: pointer;
}
