* {
  box-sizing: border-box; /* Đảm bảo mọi phần tử không vượt quá màn hình */
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Ngăn việc tràn ngang */
}

/* Footer của card với thông tin giá và nút thêm */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.price-info {
  display: flex;
  flex-direction: column;
}

.truncated-title {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis when text is too long */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
}
